@charset "UTF-8";

@font-face {
    font-family: 'Marca';
    src: url(fontes/Mega\ Brush.otf);
}

@font-face {
    font-family: 'Links';
    src: url(fontes/walkthemoonlaserital.ttf);
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root{
    --cor1: #b8145e;
    --cor2: #005377;
    --cor3: #07dea5;
    --cor4: #D5C67A;
    --cor5: #045f4789;
    --cor6: #045f46;

    --fonte1: 'Marca';
    --fonte2: 'Links';
}

body{
    background-color: var(--cor5);
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor6));
    height: 25vw;
    box-shadow: 0px 2px 3px black;
}

header > h1{
    font-family: var(--fonte1);
    text-align: center;
    color: var(--cor1);
    padding: 3vw;
    font-size: 8vw;
    text-shadow: 10px 10px 10px black;
}

nav{
    text-align: center;
    margin-top: 4vw;
    margin-bottom: 1vw;
}

nav > a{
    margin: 1vw 3vw;
    text-decoration: none;
    font-family: var(--fonte2);
    font-size: 2vw;
    border-radius: 10px;
    color: white;
    padding: 0.7vw;
    vertical-align: middle;
}

nav > a:hover{
    background-color: #03a176;
    transition-duration: 0.2s;
}

nav > a::after{
    content: ' ▾';
}

main{
    max-width: 1200px;
    margin: 3vw 10vw;
    background-color:rgb(254, 218, 218);
    border-radius: 15px;
    box-shadow: 5px 5px 15px  black;
}

#discos{
    width: 90%;
    margin: auto;
}

.caixa{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.341);    
    font-weight: bolder;
    border: 1px solid white;
    border-radius: 10px; 
    box-shadow: 2px 2px 5px black;
    margin: 2vw;
    width: 26%;
    height: auto;
    text-align: center;
}

.caixa > p{
    font-size: clamp(1vw, 100%, 2vw);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: sans-serif;
}

p.album{
    font-size: clamp(2vw, 100%, 3vw);
    text-shadow: 2px 2px 5px black;
}

.caixa:hover{
    background-color: var(--cor1);
    transition-duration: 0.2s;
    padding: 1vw;
    margin: 1vw 1vw;
}

.imagem{
    width: 100%;
    padding: 0vw;
    border-radius: 10px;
}

.botao{
    background-image: url(imagens/carrinho-de-compras.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px;
    width: 70px;
    height: 50px;
    border-radius: 25px;
    border: 2px solid black;
    margin-bottom: 1vw;
    margin-top: 1vw;
}

.botao:hover{
    background-color: rgb(141, 141, 141);
    transition-duration: 0.2s;
}

footer{
    height: 10vw;
    background-color: var(--cor6);
}