@charset "UTF-8";

@font-face {
    font-family: 'Marca';
    src: url(fontes/Mega\ Brush.otf);
}

@font-face {
    font-family: 'Links';
    src: url(fontes/walkthemoonlaserital.ttf);
}

@font-face {
    font-family: 'Discos';
    src: url(fontes/NT\ Josefine.otf);
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root{
    --cor1: #b8145e;
    --cor2: #005377;
    --cor3: #07dea5;
    --cor4: #D5C67A;
    --cor5: #045f4789;
    --cor6: #045f46;

    --fonte1: 'Marca';
    --fonte2: 'Links';
    --fonte3: 'Discos';
}

body{
    background-color: var(--cor5);
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor6));
    height: 25vw;
    box-shadow: 0px 2px 3px black;
}

header > h1{
    font-family: var(--fonte1);
    text-align: center;
    color: var(--cor1);
    padding: 3vw;
    font-size: 8vw;
    text-shadow: 10px 10px 10px black;
}

nav{
    text-align: center;
    margin-top: 4vw;
    margin-bottom: 1vw;
}

nav > a{
    margin: 1vw 3vw;
    text-decoration: none;
    font-family: var(--fonte2);
    font-size: 2vw;
    border-radius: 10px;
    color: white;
    padding: 0.7vw;
    vertical-align: middle;
}

nav > a:hover{
    background-color: #03a176;
    transition-duration: 0.2s;
}

nav > a::after{
    content: ' ▾';
}

main{
    max-width: 1200px;
    margin: 3vw auto;
    background-color:rgb(254, 218, 218);
    border-radius: 15px;
    box-shadow: 5px 5px 15px  black;
}

main h1 {
    font-family: var(--fonte3);
    text-align: center;
    color: var(--cor);
    padding: 3vw;
    font-size: 3vw;
}

section{
    text-align: center;
    padding: 5vw;
}

#imagem{
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 15px black;
    width: 50%;
}

div#button{
    width: fit-content;
    margin: 5px auto;
    padding: 10px;
}

#botao{
    background-color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1vw;
    color: white;
    font-weight: bold;
    width: 15vw;
    height: 5vw;
    border: 2px solid black;
    border-radius: 25px; 
}

#botao:hover{
    background-color: #02ae80;
    transition-duration: 0.3s;
}

section#descricao{
    padding-top: 0vw;
    text-align: justify;
}

section#descricao > article > h1{
    font-size: 5vw;
}

section#descricao > article > p{
    margin: auto;
    width: clamp(250px, 50vw, 600px);
    text-align: justify;
}